	<!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/jquery-ui.js"></script>
 
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

	<!-- Datepicker -->
	<script src="js/bootstrap-datepicker.min.js"></script>
	<script src="js/bootstrap-datepicker.ru.min.js"></script>
	
	<!-- Underscore and Backbone.JS -->
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	
	<!-- jsTree -->
	<script type="text/javascript" src="js/jquery.form.js"></script>
	<script type="text/javascript" src="jstree/dist/jstree.js"></script>    