<div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> 
        <div class="modal-dialog modal-lg"> 
            <div class="modal-content" id="Content"> 
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Информация
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#hardwareTab" data-toggle="tab">Аппаратная часть</a>
                                </li>
                                <li><a href="#softwareTab" data-toggle="tab">Программное обеспечение</a>
                                </li>
                                <li><a href="#attachedTab" data-toggle="tab">Файлы</a>
                                </li>
                                 <li><a href="#migrationTab" data-toggle="tab">Перемещения</a>
                                </li>
                                <li><a href="#" id="deleteTab" data-toggle="tab"><font color=red>Удалить</font></a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="hardwareTab">    
                                    <h3></h3>
                                    <p></p>                               
                                </div>

                                <div class="tab-pane fade" id="softwareTab">
                                    <h3></h3>
                                    <p></p>
                                </div>

                                <div class="tab-pane fade" id="attachedTab">
                                    <h3></h3>
                                    <p></p>
                                </div>

                                 <div class="tab-pane fade" id="migrationTab">
                                    <h3></h3>
                                    <p></p>
                                </div>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div> 
        </div> 
</div>

    