<div class="row">
    <div class="col-md-5"><input class="form-control" id="inventory_num_<%= id %>" value="<%= inventory_num %>"></div>
    <div class="col-md-3"><input class="form-control" id="description_<%= id %>" value="<%=  description %>"></div>
    <div class="col-md-2"><input class="form-control" id="license_count_<%= id %>" value="<%= license_count %>"></div>
    <div class="col-md-2">
        <button class="btn btn-success savePC" id="<%= id %>"><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-danger deletePC" id="<%= id %>"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
