<div class="row">
    <div class="col-md-5"><input class="form-control" id="product_name_<%= id %>" value="<%= product_name %>"></div>
    <div class="col-md-3"><input class="form-control" id="product_key_<%= id %>" value="<%=  product_key %>"></div>
    <div class="col-md-2"><input class="form-control" id="product_activation_<%= id %>" value="<%= product_activation %>"></div>
    <div class="col-md-2">
        <button class="btn btn-success saveKey" id="<%= id %>"><span class="glyphicon glyphicon-ok"></span></button>
        <button class="btn btn-danger deleteKey" id="<%= id %>"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
